body{
    background-color: rgb(35, 81, 161);
}
.card-img{
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.event_grid{
    color: rgb(35, 81, 161);
}
.grid-img{
    height: 150px;
    width: 100%;
}
iframe{
    width: 600px;
    height: 450px;
}
.location_container{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    iframe{
        width: 300px;
        height: 250px;
    }
}
.card-title{
    font-size: 13px;
    text-align: center;
}
.card-text{
    text-align: center;
}
.card-coach{
    font-size: 15px;
    text-align: center;
}
.information{
    color: white;
}
.location_main{
    padding-top: 80px;
    color: white;
}
.events-main{
    padding-top: 80px;
    color: white;
}
.img-class{
    padding-top: 80px;
}
.menu-footer{
    padding-top: 80px;
    color: white;
}
.home-footer{
    padding-top: 80px;
    color: white;
}